@font-face {
    font-family: "SCDream";
    src: local("SCDream");
    src: url("../fonts/SCDream2.otf"), url('../fonts/SCDream2.otf?#iefix') format('embedded-opentype');
        // url('../fonts/SCDream2.woff2') format('woff2'),
        // url('../fonts/SCDream2.woff') format('woff'),
        // url('../fonts/SCDream2.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
  }