$color--black: #000;
$color--white: #fff;
$color--darkBlue: #20293d;
$color--deepDarkBlue: #131720;

$font--large-size: 28px;

* {
    box-sizing: border-box;
}

section {
    padding: 3em 2em;
    height: 500px;
}

.section__title {
    font-size: $font--large-size;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    background: linear-gradient(to bottom left, $color--darkBlue, $color--deepDarkBlue);

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            width: 6em;
        }

        .list {
            display: flex;
            color: $color--white;
            .item {
                margin-left: 1em;
                cursor: pointer;
            }
        }
    }

    .home__container {
        display: flex;
        justify-content: space-around;
        margin-top: 5em;
        width: 100%;
        color: $color--white;

        div {
            display: inline-block;
            width: 22em;
            height: 20em;
        }

        .home__description {
            background-color: yellow;
        }

        .home__avatar {
            background-color: green;
        }
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../static/images/profil-pattern.gif') ;

    .about__list {
        display: flex;
        justify-content: center;
        margin: 6.2em 0 2.2em 0;
        width: 100%;
        li {
            position: relative;
            width: calc(100% / 3);
            text-align: center;
            p{
                margin-bottom: 0.6em;
            }
        }
    }

    .about__list.first {
        :first-child {
            .list__name::before{
                position: absolute;
                bottom: 50px;
                left: calc(33% / 50%);
                display: inline-block;
                content: '';
                width: 56px;
                height: 56px;
                background: url('../static/images/profil-ico.png');
                transform: translateX(-5px);
            }
        }

        :nth-child(2) {
            .list__name::before{
                position: absolute;
                bottom: 50px;
                left: calc(33% / 50%);
                display: inline-block;
                content: '';
                width: 56px;
                height: 56px;
                background: url('../static/images/profil-ico.png') 0 25%;
                transform: translateX(-2px);
            }
        }

        :nth-child(3) {
            .list__name::before{
                position: absolute;
                bottom: 50px;
                left: calc(33% / 50%);
                display: inline-block;
                content: '';
                width: 56px;
                height: 56px;
                background: url('../static/images/profil-ico.png') 0 75%;
            }
        }
    }

    .about__list.second {
        :first-child {
            .list__name::before{
                position: absolute;
                bottom: 50px;
                left: calc(33% / 50%);
                display: inline-block;
                content: '';
                width: 56px;
                height: 56px;
                background: url('../static/images/profil-ico.png');
                transform: translateX(8px);
            }
        }

        :last-child {
            .list__name::before{
                position: absolute;
                bottom: 50px;
                left: calc(33% / 50%);
                display: inline-block;
                content: '';
                width: 56px;
                height: 56px;
                background: url('../static/images/profil-ico.png') 0 100%;
                transform: translateX(17px);
            }
        }
    }
}

.skills {background-color: goldenrod;}
.source {background-color: green;}
.work {background-color: grey;}
.contact {background-color: gainsboro;}